@font-face {
  font-family: mayonice;
  src: url(Mayonice.ttf);
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, san-serif;
}

h1 {
font-family: mayonice;
}

.little {
width: 100px;
}

#big {
width: 500px;
}

.part1 {
color: red;
}

.part2 {
color: blue;
}

.part3 {
color: green;
}
